<br><br>
    <div class="search-div">
        <button class="float-right" mat-fab  color="primary" (click)="onCreate()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
<br><br>
<div class="card" style="width:100%;"><br>
    <div class="container">
        <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="table-responsive">
            <table mat-table #table [dataSource]="datasource" matSort >
                <ng-container matColumnDef="moduleName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Module Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.moduleName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="modulePackage">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Module Package </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.modulePackage}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.description}}
                    </mat-cell>
                </ng-container>
                <!--<ng-container matColumnDef="moduleStatut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Module Status</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        {{element.moduleStatut}}
                    </mat-cell>
                </ng-container>-->
                <ng-container matColumnDef="createdDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Created At</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.createdDate | date:'short':'UTC'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastModificatedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.lastModificatedDate | date:'short':'UTC'}} </mat-cell>
                </ng-container>
               <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
           <!-----<button mat-menu-item >
              <mat-icon>assignment</mat-icon>
              <span>See More</span>
            </button>-->
            <div>
              <button mat-menu-item  (click)="onEdit(row)">
                <mat-icon >update</mat-icon>
                <span>Update Module</span>
              </button>
            </div>
            <button mat-menu-item  (click)="onDelete(row.moduleId)">
              <mat-icon color="warn">delete_outline</mat-icon>
              <span>Delete Module</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data....
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="nodata">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        NO data....
                    </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['nodata']"
                    [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<br>

<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>assignment</mat-icon>
          <span>See More</span>
        </button>
        <div >
          <button mat-menu-item >
            <mat-icon>update</mat-icon>
            <span>Update Progress</span>
          </button>
        </div>
        <button mat-menu-item >
          <mat-icon>drafts</mat-icon>
          <span>Track Ticket</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>
